<div class="home">

<img [src]="imageUrl" width="150">

<br><br>

<button
    [disabled]="isDisabled"
    (click)="registerCourse()">

    {{ buttonText }}

</button>
<hr>

<h2>Two-Way Data Binding Demo</h2>

<input
type="text"
[(ngModel)]="enteredName"
placeholder="Enter your name">

<p>You entered: {{enteredName}}</p>
<hr>

<h2>*ngIf Demo</h2>

<button (click)="isPlaced = !isPlaced">
    Toggle Placement Status
</button>

<p *ngIf="isPlaced">
    🎉 Congratulations! You are placed.
</p>

<p *ngIf="!isPlaced">
    😔 Keep practicing. Placement is pending.
</p>
<hr>

<h2>*ngFor Demo</h2>

<div class="course-list">
  <ul>
    <li *ngFor="let course of courses; let i = index">
      {{ i + 1 }}. {{ course }}
    </li>
  </ul>
</div>

<hr>

<h2>ngClass Demo</h2>

<p [ngClass]="isPlaced ? 'placed' : 'notPlaced'">
    {{ isPlaced ? '🎉 Student Placed' : '❌ Student Not Placed' }}
</p>

<button (click)="isPlaced = !isPlaced">
    Toggle Status
</button>

<hr>

<h2>ngStyle Demo</h2>

<p
[ngStyle]="{
'color': isPlaced ? 'green':'red',
'font-size':'22px',
'font-weight':'bold'
}">

Dynamic Style Example

</p>

<hr>

<h2>Pipes Demo</h2>

<p>{{student.name | uppercase}}</p>

<p>{{student.department | lowercase}}</p>

<p>{{today | date}}</p>

<p>{{today | date:'fullDate'}}</p>

<p>{{price | currency:'INR'}}</p>

<p>{{student | json}}</p>

<hr>

<h2>Service Demo</h2>

<p>{{serviceStudent}}</p>

<hr>

<h2>Template Form</h2>

<form>
  <input
  type="text"
  name="student"
  [(ngModel)]="enteredName">

  <button>
  Submit
  </button>
</form>

<hr>

<h2>HTTP Client Demo</h2>

<ul>
  <li *ngFor="let user of users">
    {{user.name}}
  </li>
</ul>

</div>
